* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    cursor: none;
}

@font-face {
    font-family: "pacifico";
    src: url(fonts/Pacifico-Regular.ttf);
}

@font-face {
    font-family: "montserrat";
    src: url(fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Agencyfb";
    src: url(fonts/AgencyFB-Bold.ttf);
}

@font-face {
    font-family: "gilroy";
    src: url(fonts/Gilroy-Regular.ttf);
}


/* pre_loader */

.pre_loader {
    height: 100vh;
    width: 100vw;
    background-color: white;
    position: fixed;
    z-index: 9999999999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    height: 20vmax;
    width: 20vmax;
    background-image: url(DxrL.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform-origin: top;
}

#cursor {
    z-index: 9999999;
    position: fixed;
    width: 1.7vmax;
    height: 1.7vmax;
    border-radius: 50%;
    background-color: rgba(178, 34, 34, 0.559);
    box-shadow: 0 0 20px rgb(240, 219, 219), 0 0 21px firebrick;
    transition: 0.3s linear transform;
    pointer-events: none;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: firebrick;
    border-radius: 25px;
}

#main {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(12, 12, 12);
}

.menu_overlay {
    position: relative;
    min-height: 100vh;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(17, 16, 16, 0.857);
    position: fixed;
    right: 0%;
    z-index: 99999;
    padding: 4vh 4vh;
    transform: translateX(100%);
    transition: 1s ease-in-out all;
}

.menu_overlay ul {
    min-height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style-type: none;
}

.menu_overlay ul li {
    font-size: 1.5vmax;
}

.menu_overlay ul li:hover {
    transform: translateX(5%);
}

#cross {
    position: absolute;
    top: 5%;
    right: 5%;
}

#cross i {
    font-size: 2vmax;
    color: white;
    cursor: pointer;
}

#cross:active {
    transform: scale(0.9);
}


#header {
    width: 100%;
    min-height: 12vh;
    background-color: rgba(0, 0, 0, 0.76);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2222;
}

#logo {
    padding: 0 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo img {
    width: 80px;
    filter: invert(100%);
}

#logo h5 {
    letter-spacing: 1px;
    color: firebrick;
    text-align: center;
    font: 400 1.3vmax "pacifico";
    margin-top: -1.1vmax;
}

#nav_bars ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    position: relative;
    /* background-color: rebeccapurple; */
    margin-left: 14vmax;
}

.list {
    padding: 0 1vw;
    color: white;
    letter-spacing: 1px;
    font: 300 1.2vmax "pacifico";
    cursor: pointer;
}

.list:active {
    transform: scale(0.9);
}

.list:hover {
    color: #dadada;
    text-decoration: underline;
    text-decoration-color: firebrick;
    text-decoration-thickness: 0.3vmax;
}

#navbars_icons {
    display: flex;
    align-items: center;
    overflow: hidden;
}

#hemburger_menu {
    display: none;
}

#hemburger_menu i {
    color: white;
    font-size: 2vmax;
    cursor: pointer;
}

#hemburger_menu:active {
    transform: scale(0.9);
}

#search_wrapper {
    display: flex;
    align-items: center;
}

#search_button {
    margin-right: 2vmax;
    width: 25px;
    filter: invert(100%);
    cursor: pointer;
}

#search_button:active {
    transform: scale(0.9);
}

.search_bar {
    margin-right: 0.5vw;
    transform: translateX(140%);
    /* display: none; */
    transition: 0.5s ease-in-out all;
}

.search_box {
    border: none;
    outline: none;
    background-color: #fff;
    color: #000;
    padding: 0.7vh 1vw;
    border-radius: 5px;
}

.search_button {
    padding: 0.7vh 1vw;
    border-radius: 5px;
    background-color: firebrick;
    border: none;
    color: white;
    cursor: pointer;
}

.search_button:active {
    transform: scale(0.9);
}

/*  */

.scroll {
    height: 100%;
    width: 100%;
    background-color: black;
}

.slide-1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-image: url(anastase-maragos-9dzWZQWZMdE-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.swiper-slide {
    min-height: 100vh;
    width: 80vw;
    padding: 5vw;
}

.swiper-slide h1 {
    letter-spacing: 1px;
    color: white;
    width: 50%;
    font: 300 5vmax "Agencyfb";
    margin-top: 5vmax;
}

#slide-1-Btn {
    padding: 1.8vh 2.5vw;
    border: none;
    border-radius: 10px;
    background-color: firebrick;
    font: 300 1.8vmax "Agencyfb";
    color: white;
    cursor: pointer;
    margin: 2.5vmax 0;
}

.slide-2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-image: url(raimond-klavins-UvWx67Ivqe0-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.slide-3 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-image: url(sven-mieke-MsCgmHuirDo-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


/* pagination */

:root {
    --swiper-theme-color: firebrick;
}

.swiper-pagination-bullet {
    width: 11px;
    height: 11px;
    margin: 0.5vmax !important;
    background-color: #dadada;
}

/* main-2 */

#main_2 {
    min-height: 150vh;
    width: 100%;
}

#page_two_heading {
    min-height: 15vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    padding: 0 2vw;
}

#page_two_heading h1 {
    letter-spacing: 1px;
    color: firebrick;
    font: 400 3vmax "pacifico";
    border-bottom: 4px solid black;
    /* margin-top: -1.1vmax; */
}

#page_two_content {
    min-height: 135vh;
    width: 100%;
    display: flex;
}

#page_two_left {
    min-height: inherit;
    width: 50%;
    /* background-color: blue; */
    padding: 0 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#page_two_right {
    min-height: inherit;
    width: 50%;
    /* background-color: yellow; */
    padding: 6vh 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#gym_trainer_profile_photo {
    height: 15vmax;
    width: 15vmax;
    /* background-color: red; */
    border-radius: 50%;
    background-image: url(dollar-gill-f9W9svqHpSU-unsplash.jpg);
    background-position: center;
    background-size: cover;
}

#page_two_left h1 {
    color: black;
    font: 700 2vmax "montserrat";
}

#page_two_left h5 {
    color: black;
    font: 500 1.4vmax "montserrat";
}

#page_two_left p {
    color: black;
    margin-bottom: 4vmax;
    font: 500 1.2vmax "gilroy";
}

#page_two_left p span {
    color: firebrick;
    font-weight: 600;
}

#yoga_trainer_profile_photo {
    height: 15vmax;
    width: 15vmax;
    /* background-color: red; */
    border-radius: 50%;
    background-image: url(tim-chow-pa_McjjynOA-unsplash.jpg);
    background-position: center;
    background-size: cover;
}

#page_two_right h1 {
    color: black;
    font: 700 2vmax "montserrat";
}

#page_two_right h5 {
    color: black;
    font: 500 1.4vmax "montserrat";
}

#page_two_right p {
    color: black;
    font: 500 1.2vmax "gilroy";
}

#main_3 {
    min-height: 100vh;
    width: 100%;
    /* background-color: pink; */
}

#main3_head {
    min-height: 15vh;
    width: 100%;
    /* background-color: rgb(245, 137, 137); */
    display: flex;
    align-items: center;
    padding: 0 2vw;
}

#main3_head h1 {
    letter-spacing: 1px;
    color: firebrick;
    font: 400 3vmax "pacifico";
    border-bottom: 4px solid black;
}

#main3_content {
    min-height: 85vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
}

#main3_left {
    min-height: inherit;
    width: 50%;
    /* background-color: blue; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#main3_right {
    min-height: inherit;
    width: 50%;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2vw;
}

#main3_left_img {
    min-height: 50vh;
    width: 70%;
    background-color: firebrick;
    background-image: url(https://images.unsplash.com/photo-1522898467493-49726bf28798?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fG15JTIwZml0bmVzcyUyMGNsdWJ8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    overflow: hidden;
}

#main3_left button {
    padding: 1.8vh 2.5vw;
    border: none;
    border-radius: 10px;
    background-color: firebrick;
    font: 300 1.8vmax "Agencyfb";
    color: white;
    cursor: pointer;
}

#main3_left button:active {
    transform: scale(0.9);
}

#main3_right p {
    font: 300 1.8vmax "Agencyfb";
    color: rgb(31, 30, 30);
}

#main_4 {
    min-height: 250vh;
    width: 100%;
    background-color: pink;
}

#main4_heading {
    min-height: 12vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    padding: 0 2vw;
    display: flex;
    align-items: center;
}

#main4_heading h1 {
    letter-spacing: 1px;
    color: firebrick;
    font: 400 4vmax "pacifico";
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness: 0.2vmax;
}

#main4_content {
    min-height: inherit;
    width: 100%;
    /* background-color: red; */
    display: flex;
}

.main4_content_left {
    min-height: inherit;
    width: 50%;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2vh 4vw;
}

.main4_content_left .left_boxes {
    width: 40vmax;
    height: 25vmax;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden;
}

.images_same_property {
    width: 100%;
    height: 80%;
    background-color: red;
    transition: 0.5s ease-in-out all;
    cursor: pointer;
}

.images_same_property:hover {
    transform: scale(1.1);
}

.left_box1_image {
    background-image: url(Callanetics.jpg);
    background-position: center;
    background-size: cover;
}

.left_box2_image {
    background-image: url(Sport\ Dances.jpg);
    background-position: center;
    background-size: cover;
}

.left_box3_image {
    background-image: url(Cardio\ Boxing.jpg);
    background-position: center;
    background-size: cover;
}

.left_box4_image {
    background-image: url(Press\ &\ Back.jpg);
    background-position: center;
    background-size: cover;
}

#main4_content h5 {
    font: 300 2.5vmax "Agencyfb";
    color: white;
    text-decoration: underline;
    text-decoration-color: white;
}

.main4_content_right {
    min-height: inherit;
    width: 50%;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2vh 4vw;
}

.main4_content_right .right_boxes {
    width: 40vmax;
    height: 25vmax;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden;
}

.right_box1_image {
    background-image: url(yoga.jpg);
    background-position: center;
    background-size: cover;
    transition: 0.5s ease-in-out all;
    cursor: pointer;
}

.right_box2_image {
    background-image: url(Lifting.jpg);
    background-position: center;
    background-size: cover;
}

.right_box3_image {
    background-image: url(Cardio.jpg);
    background-position: center;
    background-size: cover;
}

.right_box4_image {
    background-image: url(Body\ Building.jpg);
    background-position: center;
    background-size: cover;
}



footer {
    min-height: 70vh;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    position: relative;
}

#footer_left {
    min-height: inherit;
    width: 50%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 4vw;
}

#footer_left_center_content_wrapper {
    width: 100%;
    min-height: 35vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#footer_left_center_content_wrapper h1 {
    font: 300 3vmax "Agencyfb";
    color: #000;
}

#footer_left_center_content_wrapper p {
    font: 500 1.5vmax "montserrat";
    color: #000;
}

#footer_left_icons {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

#footer_left_icons i {
    font-size: 2vmax;
    cursor: pointer;
}

#footer_right {
    min-height: inherit;
    width: 50%;
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 4vw;
}

#footer_right_center_content_wrapper {
    width: 100%;
    min-height: 35vh;
    display: flex;
    justify-content: space-between;
    /* outline: 1px solid black; */
    flex-direction: column;
}

#footer_right_center_content_wrapper h1 {
    font: 300 3vmax "Agencyfb";
    color: #000;
}

#footer_right_center_content_wrapper p {
    font: 500 1.5vmax "montserrat";
    color: #000;
    margin-bottom: 12vh;
}


.scrollToTop {
    width: 5vmax;
    height: 5vmax;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 5%;
    margin-top: -10vmax;
    cursor: pointer;
}

.scrollToTop span {
    color: white;
    font-size: 3vmax;
}